//COLORS
$color-gray: #777;
$color-white: #fff;
$color-black: #000;

$color-primary: rgba(27, 23, 23, 0.8);
$color-secondary: rgba(129, 0, 0, 0.8);

$color-yellow-light: rgba(138, 62, 62, 0.8);
$color-yellow-dark: rgba(204, 63, 7, 0.8);

$color-blue-light: #265886;
$color-blue-dark: #302a6b;

$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #eee;

$color-red-light: rgb(156, 40, 35);
//FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;